h3 {
  margin: 0;
}

.user-list {
  display: flex;
  flex-direction: column;
}

.user-details {
  flex: 1;
  margin-left: 16px;
}

.avatar {
  background-color: #ccc; /* Replace with your desired background color or use actual avatars */
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
